{% include 'title.html'%}
<style>
body {
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX22243987.jpg");
  background-size: cover;
  height:200px;
}
</style>
<form action="email_verification1" style="font-family: Comic Sans MS;" class="container mt-3 rounded-4 card card-body col-md-5" >
    <div>
        <h6><lable for="email">Enter Email</lable></h6>
        <input type="text" id="email" name="email" required class="form-control">
    </div>
     <div class="mt-2">
        <input type="submit" id="Verify" value="Verify" class="form-control btn btn-info">
    </div>
</form>
