{% include 'title.html'%}
<head>
<style>
body {
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX22243987.jpg");
  background-size: cover;
  height:200px;
}
</style>
</head>
<div class="row mt-2">
    <form action="uLogin1" method="post">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <div class="card p-3 mt-4 ">
                    <div class="h4 text-center">User Login</div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text"  class="form-control" name="email" id="email" placeholder="Enter Email" required>
                    </div>
                    <div class="form-group mt-1">
                        <label for="password">Password</label>
                        <input type="Password" name="password" id="password"  class="form-control" placeholder="Enter your Password" required>
                    </div>
                    <input type="submit" value="Login" style="background-color:blue" class="btn btn-success w-100 mt-3">
                    <div class="text-center">OR</div>
                    <a href="/userReg" class="btn btn" style="background-color:#00FF7F">SignUp</a>
                </div>
            </div>
        </div>
    </form>
</div>