{% include 'head.html'%}
<style>
body {
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX22243987.jpg");
  background-size: cover;
  height:200px;
}
</style>
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card p-3"  style="background-color:#E0FFFF">
                <div class="text-center card-header">{{product[1]}}</div>
                <img src="{{product[4]}}" style="max-width:100%;height:180px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-secondary">Price :</div>
                        <div class="h6">$ {{product[3]}}</div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-secondary">Quantity :</div>
                        <div class="h6">{{product[2]}}</div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-secondary" style="font-size:10px">Description</div>
                    <div class="" style="font-size:14px;overflow:auto;height:40px">{{product[5]}}</div>
                </div>
                <div class="card-footer">
                 <div class="row">
                     <div class="col-md-6">
                         <form action="EditQuantity" method="post">
                             <input type="hidden" name="Product_id" value="{{product[0]}}">
                             <input type="submit" value="Edit" class="btn btn-primary w-100">
                         </form>
                     </div>
                      <div class="col-md-6">
                          <a href="postProduct?Product_id={{product[0]}}" class="btn btn-primary w-100">Post</a>
                      </div>
                 </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>