{% include 'head.html'%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function addLike(Post_id){
        let url = "addLike?Post_id="+Post_id
        console.log(url);
        $.get(url, function(data, status){
            console.log(data)
            if(data.isLike){
                $("#"+Post_id+"like").css('color', '#3366ff')
            }else{
                $("#"+Post_id+"like").css('color', 'black')
            }
            $("#"+Post_id+"like2").html(data.likes)

        });
    }
    function addShare(Post_id){
        let url = "addShare?Post_id="+Post_id
        $.get(url, function(data, status){
            alert(data)
        });
    }
    function addComment(Post_id){
        let comment = $("#"+Post_id+"comment").val()
        if(comment===''){
            alert('Enter Comment')
        }else{
            let url = "addComment?Post_id="+Post_id+"&comment="+comment
            $.get(url, function(data, status){
                alert(data)
            });
        }

    }
</script>
<div class="row">
    <div class="col-md-3"></div>
     <div class="col-md-6 mt-3" style="height:80vh;overflow:auto">
        {% for post in  posts %}
         <input type="hidden" name="Post_id" id="Post_id" value="{{post[0]}}"/>
         {% set user = getUserByPosts(post[5])%}
         <div class="card p-3">
             <div class="">{{user[1]}}</div>
              <div class="text-secondary" style="font-size:10px">{{post[3].strftime("%c")}}</div>
             {% if post[1] == 'post' %}
             <div class="">
                 <img src="{{post[2]}}" style="max-width:100%;height:400px">
             </div>
             <div class="m-3" style="text-indent: 50px;">
                 {{post[4]}}
             </div>
            {% endif %}
             {% if post[1] == 'Product' %}
             {% set product = getProductById(post[6]) %}
                <div class="">
                    <img src="{{product[4]}}" style="max-width:100%;height:400px">
                 </div>
                 <div class="mt-2" style="text-indent: 50px;">
                     Available : {{product[2]}}
                 </div>
                 <div class="mt-3" style="text-indent: 50px;">
                     Price :<b> $ {{product[3]}} </b>
                 </div>
                 <div class="m-3" style="text-indent: 50px;">
                     {{product[5]}}
                 </div>
                 {% if  session['userType'] == 'Buyer' %}
                    <div>
                        <form action="addToCart" method="post">
                            <input type="hidden" name="Product_id" value="{{product[0]}}">
                            <input type="hidden" name="Seller_id" value="{{product[6]}}">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <input type="number" name="number_of_items" max="{{product[2]}}" min="1" class="form-control" required>
                                </div>
                                <div class="col-md-3">
                                    <input type="submit" value="Add To Cart" class="btn btn-primary w-100">
                                </div>
                            </div>
                        </form>
                    </div>
                 {% endif %}
             {% endif %}
             <div class="row">
                 <div class="col-md-1">
                     <div style="font-size:19px" class="text-center" id="{{post[0]}}like">
                         <i class="fa fa-thumbs-o-up"  onclick="addLike('{{post[0]}}')"></i>
                     </div>
                     <div class="mt-1">
                         <form action="viewLikes" method="post">
                             <input type="hidden" name="Post_id" value="{{post[0]}}">
                             <input type="submit" value="likes" style="font-size:70%">
                         </form>
                     </div>
                 </div>
                    <div class="col-md-2 text-center">
                        <div style="font-size:19px" class="text-center"><i class="fa fa-share-alt" onclick="addShare('{{post[0]}}')"></i></div>
                        <div class="mt-1" onclick="text-center">
                         <form action="viewShares" method="post">
                             <input type="hidden" name="Post_id" value="{{post[0]}}">
                             <input type="submit" value="shares" style="font-size:70%">
                         </form>
                     </div>
                    </div>
                 <div class="col-md-2 mt-4 text-center">
                     <form action="viewComments" method="post">
                         <input type="hidden" name="Post_id" value="{{post[0]}}">
                         <input type="submit" value="Comments" style="font-size:70%">
                     </form>
                 </div>
             </div>
             <hr>
             <div class="row">
                 <div class="col-md-8">
                     <textarea class="form-control" id="{{post[0]}}comment"></textarea>
                 </div>
                 <div class="col-md-2">
                     <button class="btn btn-primary" onclick="addComment('{{post[0]}}')">Comment</button>
                 </div>
             </div>
         </div>
         {% endfor%}
     </div>
     <div class="col-md-3"></div>
</div>